
body{
	background-color: black;
	margin-left:0px;
	margin-right:0px;
}
.rButton{
	border-radius: 12px;
	color: black;
	font-style: bold;
	background-color: gray;
	border: solid black;
	display:inline-block;
	box-shadow: 6px 6px 10px #000000;
}
.rButton:hover{
	border-radius: 12px;
	color: black;
	font-style: bold;
	background-color: lightgray;
	border: solid black;
	display:inline-block;
	box-shadow: 6px 6px 10px #000000;

}
.rButton:active {
    font-size: 18px;
    border: 1px solid black;
    border-radius: 12px;
}
.horizontal-card{
	width:100%;
	border: solid gray;
	background-color: black;
}
h2{
	color: white;
}
.dielabels{
	color: white;
	text-align: center;
}
.d120{
	color: black; 
	background-color: black;
	background-image: url(D120.png);
	background-repeat: no-repeat;
	background-size: 110px 100px;
	resize: none;
	text-align: center;
	font-size: 24px;
	font-style: bold;
	font: "Times New Roman";
	text-decoration: none;
	border: none;
}
.playerbutton{
	border-radius: 12px;
	font-size: 28px;
	color: black;
	font-style: bold;
	background-color: gray;
	border: solid black;
	display:inline-block;
	box-shadow: 6px 6px 10px #000000;
	padding: 2px 10px;
}
.playerbutton:hover{
	border-radius: 12px;
	color: black;
	font-style: bold;
	background-color: lightgray;
	border: solid black;
	display:inline-block;
	box-shadow: 6px 6px 10px #000000;

}
.playerbutton:active {
    font-size: 22px;
    border: 1px solid black;
    border-radius: 12px;
}
.playerdisplay{
	color: red; 
	background-color: black;
	resize: none;
	text-align: center;
	font-size: 22px;
	font-style: bold;
	font: "Times New Roman";
	text-decoration: none;
	border: none;
	overflow: hidden;
}
.skipbutton{
	border-radius: 12px;
	font-size: 18px;
	color: black;
	font-style: bold;
	background-color: gray;
	border: solid black;
	display:inline-block;
	box-shadow: 6px 6px 10px #000000;
	padding: 2px 10px;
	width: 150px;
}
.skipbutton:hover{
	border-radius: 12px;
	color: black;
	font-style: bold;
	background-color: lightgray;
	border: solid black;
	display:inline-block;
	box-shadow: 6px 6px 10px #000000;

}
.skipbutton:active {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 12px;
}
