body{
	background-color: black;
	background-size: 
	background-repeat: no-repeat;
	background-position: left top;
	margin-left:0px;
	margin-right:0px;
}
#line  {
	width:100%;
	height:50px;
	margin-left:0px;
	margin-top:0px;
	z-index:4;
	text-align:left;
}
p{
	color: white;
	font-size: 24px;
}
.navBar{
	background-image: url(navBackground.jpg);
}
a:link, a:visited {
	color: lightgray;
	padding: 2px 90px;
	text-align: center;
	font-size: 24px;
	font-style: bold;
	font: "Times New Roman";
	text-decoration: none;
	display: inline-block;
}
a:hover, a:active{
	background-color: rgba(119, 136, 153, 0.3); ;
	color: white;
}